@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

:root {
  --html-color: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

html {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

body {
    background-color: rgb(25, 25, 25);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#navbar {
    margin-top: 18px;
    overflow: hidden;
    position: fixed; 
    background: rgba(0, 0, 0, 0.39);
    width: 100%;
    z-index: 2;
}

#navlist {
    display: flex;
    float: right;
    list-style-type: none;
    margin: 0;
    background-color: transparent;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-right: 70px;
}

#navlist li {
    padding-left: 10px;
}

.navlink {
    border: 2px solid currentColor;
    border-radius: 3rem;
    display: block;
    color: yellow;
    text-align: center;
    font-family: roboto;
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 14px 16px;
    transition: .2s transform ease-in-out;
    animation: shake 0.82s infinite cubic-bezier(.36, .07, .19, .97) both;
    will-change: transform;
    z-index: 0;
}

.navlink:hover {
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    color: white;
    transform: translate(0, 0, 0, 0);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    animation: none;
    backface-visibility: hidden;
    perspective: 1000px;
}

#home {
    text-align: center;
    padding: 0;
    margin-top: -50px;
    height: 800px;
    width: 100%;
    /*
    Shortcut => animation colorChange 5s linear 2s infinite alternate-reverse ease both
    */
    animation: changeBg 100s infinite ease-out;
    transition: opacity 1s;
    transition-delay: 5s;
}

.line-1 {
    font-family: Anonymous Pro, cursive;
    font-weight: bold;
    font-size: 280%;
    color: beige;
    margin-bottom: 0;
    padding-left: 40px;
    position: relative;
    top: 50%;  
    width: 24em;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-60%); 
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s infinite normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0em;}
    to{width: 16em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

h2 {
    text-align: center;
}

#home h3 {
    position: relative;
    animation-name: colorChange;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
    animation-fill-mode: both;
    /*
    Shortcut => animation colorChange 5s linear 2s infinite alternate-reverse ease both
    */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#author {
    padding: 0;
    border-radius: 15%;
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure {
    position: relative;
    animation: slide 3s ease 2s infinite alternate backwards;
}


#about {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 2px 15px;
    padding-bottom: 15px;
    width: 100%;
}

#about h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}

#about p {
    text-align: justify;
    margin-top: 0;
}

#about a {
    text-decoration: none;
    color: darkorange;
    font-size: 20px;
}

#about a:hover {
    color: yellow;
}

#quote {
    font-family: Andale Mono, monospace;
    text-align: center;
    color: gold;
}

figure {
    margin-right: 0;
    padding-right: 0;
    z-index: 1;
}

.skills {
    width: 80%;
    padding: auto;
    margin: auto;
    max-width: 600px;
}

.sk-container {
    text-align: center;
    padding: auto;
    margin: 10px auto 5px auto;
    width: 80%;
    border-radius: 10px;
    background-color: aliceblue;
}

.sk-level {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
    rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}

.html {width: 60%;}
.css {width: 40%;}
.javascript {width: 20%;}
.cpp {width: 15%;}
.python {width: 45%;}
.git {width: 10%;}
.github {width: 20%;}
.vs_code {width: 30%;}

.certifications {
    display: grid;
    place-items: center;
}

.grid-item img {
    width: 750px;
    height: 750px;
} 

#contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: antiquewhite;
    padding: 2px 15px;
    margin-bottom: -10px;
    height: 100%;
    width: 100%;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

#contact li {
    display: inline;
}

.fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: transparent;
    color: #285AEB;
}

.fa-twitter {
    background: transparent;
    color: #00DBDE;
}

.fa-linkedin-square {
    background-color: white;
    color:  #0A66C2;

}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-github-square {
    background-color: transparent;
    color: black;
}

@media only screen and (min-width: 768px) {
    /* Design for PCs*/ 
    #home {
        margin-top: -80px;
    }

    #navbar {
        margin-top: 0px;
    }

    .line-1 {
        font-size: 80px;
    }

    #description {
        padding: 20px 90px 0px 0px;
        font-size: 22px;
    } 
    
    #about ul {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 22px;
    }

    #author_bio div {
        display: inline-flex;
        place-items: center;
    }

    .grid-item {
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}


@media only screen and (max-width: 760px) {
    /*Phone and PCs*/
    
    .line-1 {
        width: 15em;
        font-size: 200%;
    }

    .navlink {
        font-size: 60%;
        font-weight: bold;
    }

    .fa {
        padding: 10px;
    }

    .certifications img {
        width: 95%;
        height: 95%;
    }

    .grid-item {
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #author {
        width: 70%;
        height: 70%;
    }

    #author_bio div {
        display: -ms-inline-grid;
        place-items: center;
    }

    #description {
        padding-left: 15px;
        padding-right: 25px;
        font-size: 18px;
    }

    figure {
        padding-left: 5%;
        margin-left: 0;
    }

    #education, #quote {
        padding-right: 25px;
        padding-left: 25px;
    }

}

@keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes slide {
    from{left: 0px;}
    to{left:50px}

}

@keyframes changeBg {
    0%,
    15% {
        background-image: url("./page_img/bc/i0.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    15%,
    30% {
        background-image: url("./page_img/bc/i1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    30%,
    45% {
        background-image: url("./page_img/bc/i2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    45%,
    65% {
        background-image: url("./page_img/bc/i3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    65%,
    80% {
        background-image: url("./page_img/bc/i4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    80%,
    100% {
        background-image: url("./page_img/bc/i5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
