@import url("https://fonts.googleapis.com/css?family=Roboto:100");

:root {
  --html-color: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

html {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {
    background-image: url(https://i.pinimg.com/564x/b8/85/4b/b8854b08a5041500bde3ba10902ce0ef.jpg);
}

main {
    padding-top: 50px;
}

#navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
}

#navlist {
    display: flex;
    float: right;
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    background-color: transparent;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.navlink {
    border: 2px solid currentColor;
    border-radius: 3rem;
    display: block;
    color: yellow;
    text-align: center;
    font-family: roboto;
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 14px 16px;
    transition: .2s transform ease-in-out;
    animation: shake 0.82s infinite cubic-bezier(.36, .07, .19, .97) both;
    will-change: transform;
    z-index: 0;
}

.navlink:hover {
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    color: white;
      transform: translate(0, 0, 0, 0);
      transform-origin: top left;
      transition: .2s transform ease-out;
      will-change: transform;
    animation: none;
    backface-visibility: hidden;
    perspective: 1000px;
}

header {
    margin-bottom: -35px;
}

#home {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 35px;
    height: 625px;
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 5%;
}

#home h1 {
    font-size: 70px;
    color: beige;
    margin-bottom: 0;
    padding-top: 270px;
}

#home h3 {
    font-size: 25px;
    font-style: italic;
    color: gold;
    margin-top: 0;
}

h2 {
    text-align: center;
}

#about {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;

    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    /*background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);*/
    padding: 2px 15px;
    margin-top: 10px;
    border-radius: 3%;
    padding-bottom: 15px;
}

#about h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    
}

#description, #chinese {
    padding-left: 25px;
    padding-right: 25px;
}

#about p, #chinese {
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
}

#about a {
    text-decoration: none;
    color: darkorange;
    font-size: 20px;
}

#about a:hover {
    color: yellow;
}

.certifications {
    display: grid;
    place-items: center;
}

.certifications img {
    width: 450px;
    height: 450px;
}

#contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: antiquewhite;
    padding: 2px 15px;
    margin-top: 10px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    border-radius: 15%;
}

#contact li {
    display: inline;
}

.fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: transparent;
    color: #285AEB;
}

.fa-twitter {
    background: transparent;
    color: #00DBDE;
}

.fa-linkedin {
    padding: 5px;
    background-color: #f1f1f1;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-github-square {
    background-color: transparent;
    color: black;
}

@media only screen and (min-width: 800px) {
    body {
        padding: 45px;
    }

    #home h1 {
        font-size: 90px;
    }

    #description, #about ul, #chinese {
        padding-left: 15%;
        padding-right: 15%;
    }

    .grid-item {
        width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}


@media only screen and (max-width: 600px) {
    html {
        padding-top: 40px;
    }

    #navlist {
        font-size: 15px;
    }

    .fa {
        padding: 10px;
    }

    .certifications img {
        width: 300px;
        height: 300px;
    }

    .grid-item {
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}

@keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes colorChange {
    0% {
        color: #00DBDE;
        left: 0px;
    }
    25% {
        color:#d6249f;
        left: 75px;
    }
    50% {
        color: black;
        left: 100px;
    }
    75% {
        color: darkgoldenrod;
        left: -75px;
    }
    100% {
        color: gold;
        left: 0px;
        top: 0px;
    }

}

#home h3 {
    position: relative;
    animation-name: colorChange;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
    animation-fill-mode: both;
    /*
    Shortcut => animation colorChange 5s linear 2s infinite alternate-reverse ease both
    */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#author {
    padding: 0;
    border-radius: 15%;
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
